# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Compiled artifacts or temporary output
*.pyc
*.pyo
*.pyd

output/
tmp_slices/
Results/
